/* overall---------------------------------------------- */

body {
    /* background-image: url("../images/gravel.png"); 
    background-repeat: repeat;  */
    /* background: #ffffff; */
/* Gradient-------------------------------------- */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#245372+0,245372+27,245372+27,1e5799+50,207cca+75,7db9e8+100 */
    background: #245372; /* Old browsers */
    background: -moz-linear-gradient(left, #245372 0%, #245372 27%, #245372 27%, #1e5799 50%, #207cca 75%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #245372 0%,#245372 27%,#245372 27%,#1e5799 50%,#207cca 75%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #245372 0%,#245372 27%,#245372 27%,#1e5799 50%,#207cca 75%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#245372', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 *//* ---------------------------------------------------- */
    /* -------------------------------------------------- */
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
}

* {
    box-sizing: border-box;
}

 /* general------------------------------------------------- */

 .container {
     clear: both;
     max-width: 960px;
     margin: 0 auto;
     width: 100%;
 }

h1, h2, h3, p {
    margin-bottom: 20px;
}

h1, h2, h3 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 700;
    color: #cccccc;
}

h1 {
    border-bottom: 3px;
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    font-size: 30px;
    line-height: 49px;
    padding-bottom: 20px;
}

h2 {padding-top: 20px;}

h2, h3 {
    font-size: 22px;
}

p:last-child {
    margin-bottom: 0;
}

/* header---------------------------------------------------- */
 
#masthead {
    /* background: #ffffff; */
    /* Gradient------------------------------------------ */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#245372+0,245372+27,245372+27,1e5799+50,207cca+75,7db9e8+100 */
    background: #245372; /* Old browsers */
    background: -moz-linear-gradient(left, #245372 0%, #245372 27%, #245372 27%, #1e5799 50%, #207cca 75%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #245372 0%,#245372 27%,#245372 27%,#1e5799 50%,#207cca 75%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #245372 0%,#245372 27%,#245372 27%,#1e5799 50%,#207cca 75%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#245372', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */    /* -------------------------------------------------- */
    /* --------------------------------------------------------- */
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin: 0 0 15px 0;
    overflow: auto;
    position: fixed;
    width: 100%;
    z-index: 99;
}

#logo {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#245372+0,245372+27,245372+27,1e5799+50,207cca+75,7db9e8+100 */
    background: #245372; /* Old browsers */
    background: -moz-linear-gradient(left, #245372 0%, #245372 27%, #245372 27%, #1e5799 50%, #207cca 75%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #245372 0%,#245372 27%,#245372 27%,#1e5799 50%,#207cca 75%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #245372 0%,#245372 27%,#245372 27%,#1e5799 50%,#207cca 75%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#245372', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
    /* ---------------------------------------------------- */
    color: #cccccc;
    float: left;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    height: 90px;
    line-height: 90px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    width: 250 px;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    color: whitesmoke;
    border-color: #777777;
    border-left: 1px solid;
    display: inline-block;
    line-height: 18px;
    margin-left: 15px;
    padding-left: 15px;
    text-decoration: none;
}

nav a:first-child {
    border-left: 0 none;
}


/* footer------------------------------------------------------- */

footer {
    
    background: #666666;
    /* border-top-color: #245372;
    border-top-style: solid;
    border-top-width: 5px; */
    bottom: 0px;
    clear: both;
    color: #cccccc;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    height: 50px;
    line-height: 12px;
    position: fixed;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}

h3, h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eeeeee;
  }

/* Main Section--------------------------------------------------- */

#mainContainer {
    padding-top: 130px;
    min-height: (100vh - 70px);
}

.mainSection {
    /* background: #ffffff; */
    /* border-color: #dddddd;
    border-style: solid;
    border-width: 1px; */
    background: none;
    float: left;
    margin: 0 0 40px;
    max-width: 960px;
    padding: 30px;
    padding-top: 0px;
    width: 100%;
}

.bio {
    background: #ffffff;
}

.bio h2 {
    color: #245372;
}

.profilepic {
    float: left;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
    width: 150px;
}

/* Portfolio Page-------------------------------------------------- */

.gallery {
    float: left;
    margin: 10px 30px 10px 30px;
    overflow: auto;
    position: relative;
    width: 175px;
}

.gallery img {
    width: 100%;
    border: 0 none;
  }

.gallery h3 {
    position: absolute;
    background: #245372;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#245372+0,245372+27,245372+27,1e5799+50,207cca+75,7db9e8+100 */
    background: #245372; /* Old browsers */
    background: -moz-linear-gradient(left, #245372 0%, #245372 27%, #245372 27%, #1e5799 50%, #207cca 75%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #245372 0%,#245372 27%,#245372 27%,#1e5799 50%,#207cca 75%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #245372 0%,#245372 27%,#245372 27%,#1e5799 50%,#207cca 75%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#245372', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
    border-bottom: 0;
    bottom: 20px;
    color: #ffffff;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
}

/* Contact Page-------------------------------------- */

label {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #cccccc;
    margin: 20px 20px 5px 20px;
}

input {
    margin: 5px 20px;
    width: 95%;
}

textarea {
    margin: 5px 20px;
    width: 95%;
}

button {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    color: #cccccc;
    /* background: #245372; */

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#245372+0,245372+27,245372+27,1e5799+50,207cca+75,7db9e8+100 */
    background: #245372; /* Old browsers */
    background: -moz-linear-gradient(left, #245372 0%, #245372 27%, #245372 27%, #1e5799 50%, #207cca 75%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #245372 0%,#245372 27%,#245372 27%,#1e5799 50%,#207cca 75%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #245372 0%,#245372 27%,#245372 27%,#1e5799 50%,#207cca 75%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#245372', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */

    border: none;
    width: 120px;
    height: 40px;
    margin-left: 20px;
    /* margin: 20px; */
}


   @media (max-width: 980px) {
    nav {
      margin-right: 20px;
    }
  
  }
  
  @media (max-width: 768px) {
    .container{
      max-width: 748px;
    }
  
    nav{
      margin-right: 20px;
    }
  
    .gallery {
      margin: 20px 10px 25px 10px;
      width: 300px;
    }
  }
  
  @media (max-width: 640px) {
    #masthead {
      position: static;
      margin-bottom: 10px;
    }
  
    #mainContainer {
      padding-top: 10px;
    }
    
    #logo {
      width: 100%;
    }
  
    nav {
      width: 100%;
      text-align: center;
    }
  
    .auth-image {
      width: 100%;
    }
  
    .gallery {
      width: 100%;
      margin: 25px auto;
    }
  }
  